<include file="Public:header" />
    <div class="news">
        <div class="pcate">
            <div class="top_cate">
                <div class="top_font">新闻列表</div>
            </div>
        </div>
        <div class="nlist">
            <div class="nlist_left">
                <ul>
                	<volist name="list" id="vo">
                		<!-- http://localhost/kucms/index.php/Home/Category/index/id/113
                			__APP__/Home/Category/index/id/{$clist.id}
                		 -->
                		<li><a href="__APP__/Home/Category/show/module/{$module}/id/{$vo.id}">{$vo.title}</a></li>
                	</volist>
                	
                    
                </ul>
            </div>

        </div>   
    </div>

<include file="Public:footer" />


