<include file="Public:header" />
    <div class="news">
     这是内容页
     
     <div class="news_info">
     	{$list.title}
     	{$list.content}
     </div>
       <!--  <div class="pcate">
            <div class="top_cate">
                <div class="top_font">新闻列表</div>
            </div>
        </div>
        
       
         <div class="nlist">
            <div class="alist">
                <ul>
                    <li>45446466</li>
                    <li>45446466</li>
                    <li>45446466</li>
                    <li>45446466</li>
                    <li>45446466</li>
                    <li>45446466</li>
                </ul>
            </div>
        </div>   -->
    </div>

<include file="Public:footer" />
