.ileft{
	width:670px;
	float:right;
	overflow:hidden;
}

.iright{
	width:222px;
	float:left;
}

/*新闻列表*/
.newslist{
	width:680px;
	clear:both;
	overflow:hidden;
}

.newslist ul{
	width:670px;
	margin:6px auto;
}

.newslist li{
	height:29px;
	width:650px;
	line-height:29px;
	text-indent:10px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
}

.newslist li a{	
	font-size:14px;
	text-decoration:none;
}

.newsinfo {
	font-size:12px;
	line-height:150%;
	padding:10px;
	width:670px;
	overflow:hidden;
}

.newstitle {
	font-size:14px;
	line-height:30px;
	font-weight:bold;
	text-align:center;
}

.newsother {
	color:#CCCCCC;
}

.newsother ul li{
	list-style:none;
	float:right;
	text-align:center;
	padding-right:20px;
}
	

.pager {
	width:880px;
	margin:0px auto 0px;
	overflow:hidden;
	padding-bottom:10px;
	padding-left:200px;
}

.pager a{
	color:#666666;
	display:block;
	float:left;
	height:15px;
	line-height:15px;
	padding-right:12px;
	padding-left:12px;
	margin:10px 0px 0px -1px;
	white-space:nowrap;
	border-left:1px solid #EEE;
}

/* 留言列表*/

.gblist {
	width:650px;
	border:1px solid #CCC;
	margin:10px;
}
.gblist .gbtop {
	margin:1px auto 1px;
	background-color:#EEE;
	border:1px solid #EEE;
	line-height:22px;
	font-size:12px;
}

.gblist .gbc { /*留言之间间隔*/
	height:10px;
}

.gblist .gbtop ul{
	width:648px;
	height:22px;
	background-color:#F8F8F8;
	list-style:none;
	text-align:right;
}
.gblist .gbtop ul li{
	float:left;
	padding-left:10px;
}

.gblist .gbinfo {
	margin:5px auto 5px;
	line-height:22px;
	font-size:12px;
	width:640px;
	overflow:hidden;
	/*border:1px solid  #FF0000;*/
}
.gblist .gbhf {
	margin:5px;
	width:605px;
	font-size:12px;
	padding-left:30px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	background:url(../images/ico_8.gif) 10px 0px no-repeat;
	border:1px solid #EEE;

}

/* 发表留言*/
.gbadd {
	overflow:hidden;
}
.gbadd dl{
	clear:both;
	height:23px;
	line-height:23px;
	margin-top:7px;
}
.gbadd dl dt{
	float:left;
	display:block;
	width:66px;
	text-align:right;
}
.gbadd dl dd{
	float:left;
}
.gbadd dl dd input{
	height:13px;
	width:126px;
	font-size:12px;
	padding:3px 0 3px 5px;
	border-width:1px;
	border-style:solid;
	border-color:#808080 #D4D0C8 #D4D0C8 #808080;
}
.gbadd dl dd img{
	vertical-align:middle;
}
.gbadd dl dd input.gdcode{
	width:52px;
}
.gbadd .ulsubmit{
	text-align:center;
	margin-top:15px;
	height:33px;
}

/* 在线订单*/
.orderadd {
	overflow:hidden;
}
.orderadd dl{
	clear:both;
	height:23px;
	line-height:23px;
	margin-top:7px;
}
.orderadd dl dt{
	float:left;
	display:block;
	width:66px;
	text-align:right;
}
.orderadd dl dd{
	float:left;
}
.orderadd dl dd input{
	height:13px;
	width:126px;
	font-size:12px;
	padding:3px 0 3px 5px;
	border-width:1px;
	border-style:solid;
	border-color:#808080 #D4D0C8 #D4D0C8 #808080;
}
.orderadd dl dd img{
	vertical-align:middle;
}
.orderadd dl dd input.gdcode{
	width:52px;
}
.orderadd .ulsubmit{
	text-align:center;
	margin-top:15px;
	height:33px;
}