<!-- Produce index -->
<include file="Public:header" />
	<div class="recommend">
        <div class="pcate">
            <div class="top_cate">
                <div class="top_font">产品分类</div>
            </div>
            <div class="sort">
                <ul>
                    <volist name="clist" id="clist">
                        <li>{$clist.cname}</li>
                    </volist>
                </ul>
            </div>
        </div>
        <div class="plist">
            <div class="ptlink">
                <a href="product.php">更多</a>
            </div>
            <div class="pright">
                    <dl>
                       
                       <dd>
                           <a href='__URL__/produce_view/id/{$produce.id}' target='_blank' class='pimg'>
                           <img src='__PUBLIC__/Uploads/1.jpg' /></a>                           
                       </dd>
                       <dt><a href='__URL__/produce_view/id/{$produce.id}' target='_blank'>产品1</a></dt>
                       
                    </dl>
                    <dl>
                       
                       <dd>
                           <a href='__URL__/produce_view/id/{$produce.id}' target='_blank' class='pimg'>
                           <img src='__PUBLIC__/Uploads/2.jpg' /></a>                           
                       </dd>
                       <dt><a href='__URL__/produce_view/id/{$produce.id}' target='_blank'>产品1</a></dt>
                       
                    </dl>
                    <dl>
                       
                       <dd>
                           <a href='__URL__/produce_view/id/{$produce.id}' target='_blank' class='pimg'>
                           <img src='__PUBLIC__/Uploads/2.jpg' /></a>                           
                       </dd>
                       <dt><a href='__URL__/produce_view/id/{$produce.id}' target='_blank'>产品1</a></dt>
                       
                    </dl>
                     <dl>
                       
                       <dd>
                           <a href='__URL__/produce_view/id/{$produce.id}' target='_blank' class='pimg'>
                           <img src='__PUBLIC__/Uploads/2.jpg' /></a>                           
                       </dd>
                       <dt><a href='__URL__/produce_view/id/{$produce.id}' target='_blank'>产品1</a></dt>
                       
                    </dl>
                    <dl>
                       
                       <dd>
                           <a href='__URL__/produce_view/id/{$produce.id}' target='_blank' class='pimg'>
                           <img src='__PUBLIC__/Uploads/2.jpg' /></a>                           
                       </dd>
                       <dt><a href='__URL__/produce_view/id/{$produce.id}' target='_blank'>产品1</a></dt>
                       
                    </dl>
                     <dl>
                       
                       <dd>
                           <a href='__URL__/produce_view/id/{$produce.id}' target='_blank' class='pimg'>
                           <img src='__PUBLIC__/Uploads/2.jpg' /></a>                           
                       </dd>
                       <dt><a href='__URL__/produce_view/id/{$produce.id}' target='_blank'>产品1</a></dt>
                       
                    </dl>
                    <dl>
                       
                       <dd>
                           <a href='__URL__/produce_view/id/{$produce.id}' target='_blank' class='pimg'>
                           <img src='__PUBLIC__/Uploads/2.jpg' /></a>                           
                       </dd>
                       <dt><a href='__URL__/produce_view/id/{$produce.id}' target='_blank'>产品1</a></dt>
                       
                    </dl>
            </div>
            <div class="clean"></div>
        </div>
    </div>
    <div class="clean"></div>
    <div class="space"></div>

<include file="Public:footer" />


